<h3>Add New Item</h3>
<form class="form-horizontal" name="addItemForm">
    <div class="form-group">
        <label class="control-label col-sm-2" for="itemname">Item Name:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Enter item name" ng-model="addItemCtrl.item.itemName">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="category">Category: </label>
        <div class="col-sm-2">
            <select
                ng-model="addItemCtrl.item.category"
                ng-options="category for category in addItemCtrl.categories">
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="amount">Amount:</label>
        <div class="col-sm-2">
            <input type="number" class="form-control" placeholder="Enter amount" ng-model="addItemCtrl.item.amount">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-info" ng-click="addItemCtrl.addButton(addItemCtrl.item)">Add Item</button>
        </div>
    </div>
</form>
